.body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('@/assets/images/background-poke.png');
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-left: 12.5vw;
}
.main {
  background-color: var(--color-background-soft);
  width: 75vw;
  height: 100vh;
}
