.table-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.bg-even {
  background-color: var(--color-background-soft);
}

.bg-odd {
  background-color: var(--color-background);
}