.team {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  justify-content: center;
}
.puzzle{
  max-width: 100%;
  margin: 25px;
}
.route{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.city-title{
  text-align: center;
  
}
.moves{
  font-size: 16px;
  justify-self: center;
  img{
    max-height: 50px;
    max-width: 55px;
  }
}
.map{
  margin: 5px 20px 20px 20px;
  max-width: 100%;
}
h2{
  font-size: 16px;
  text-align: center;
}