
.opt-img {
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}
.opt-symbol {
  height: 100%;
}
.banner {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-soft);
  max-width: 100%;
  img{
    max-width: 100%
  };
}
.expandable-label {
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .expandable-label {
    flex-wrap: wrap;
  }
  .opt-img{
    display:none;
  }
}